name: Assignment 3 Build

on:
  push: 
 
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
   
    steps:
    - uses: 'actions/checkout@v3'
    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
       
    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v0'
      
    - name: 'Submit to cloud build'
      run: |
        gcloud builds submit --tag gcr.io/dynamic-reef-339514/assigment3
    - name: 'Deploy to Cloud Run'
      run: gcloud run deploy simple-webserver --image=gcr.io/dynamic-reef-339514/assigment3:latest --region=us-central1 --allow-unauthenticated
